passdb {
  driver = checkpassword
  args = {{ userli.directories.web }}/bin/console app:users:checkpassword
}

userdb {
  driver = prefetch
}

userdb {
  driver = checkpassword
  args = {{ userli.directories.web }}/bin/console app:users:checkpassword
}