APP_ENV=prod
APP_SECRET={{ userli.app_secret }}
APP_URL=http://mail-users.{{ domains.internal }}
DATABASE_URL=postgresql://userli:userli@127.0.0.1:5432/userli?serverVersion=11&charset=utf8
MAILER_URL=smtp://localhost:25?encryption=&auth_mode=
PROJECT_NAME={{ domains.external }}
PROJECT_URL=https://www.{{ domains.external }}
SENDER_ADDRESS=userli@{{ domains.external }}
NOTIFICATION_ADDRESS=admin@{{ domains.external }}
MAIL_CRYPT=3