lastfm:
  api_key: dummy
  secret: dummy
media:
    users:
        calibre:
            shell: /bin/bash
        localfm:
            shell: /bin/bash
        photoview:
            shell: /bin/bash
        ytdlpwebui:
            shell: /bin/bash
    directories:
        music: /var/lib/mpd/music
        video: /var/lib/video
        navidrome: /opt/navidrome
        calibre: /opt/calibre
        localfm: /opt/localfm
        photoview: /opt/photoview
        ytdlpwebui: /opt/ytdlpwebui
    python_libraries:
        - repo: https://github.com/janeczku/calibre-web.git
          version: "0.6.25"
          name: calibre-web
          directory_key: calibre
          owner: calibre
          extra_dependencies:
            - python-ldap
        - repo: https://github.com/sbreatnach/localfm.git
          package_manager: uv
          version: "main"
          name: localfm
          directory_key: localfm
          owner: localfm
          extra_dependencies: []
    package_directories:
        - directory_key: calibre
          owner: calibre
        - directory_key: localfm
          owner: localfm
        - directory_key: photoview
          owner: photoview
    prebuilt_binaries:
        - url: https://github.com/yt-dlp/yt-dlp/releases/download/2025.09.26/yt-dlp_linux
          dest: /usr/local/bin/yt-dlp
          checksum: "sha256:d2f07382138f4bd882254996502636f5a67a8c5ee5ab8a25807e2784a4878642"
        - url: https://github.com/marcopeocchi/yt-dlp-web-ui/releases/download/v3.2.6/yt-dlp-webui_linux-amd64
          dest: /opt/ytdlpwebui/ytdlpwebui
          checksum: "sha256:1683e0cd3e13bb1de85ae2136bb2b8574b6761213178679324d8ad966783b926"
    binary_archives:
        - url: https://github.com/navidrome/navidrome/releases/download/v0.58.0/navidrome_0.58.0_linux_amd64.tar.gz
          dest: /opt/navidrome
        - url: https://github.com/sbreatnach/photoview/releases/download/v2.4.0/photoview_v2.4.0_linux_amd64.tar.gz
          dest: /opt/photoview
    apt_repositories:
        - name: audiobookshelf
          url: https://advplyr.github.io/audiobookshelf-ppa
          suites: "./"
          apt_key_url: https://advplyr.github.io/audiobookshelf-ppa/KEY.gpg
    apt_packages:
        - name: mpd
        - name: ffmpeg
        - name: audiobookshelf
        - name: calibre
          install_recommends: false
    java_packages: []
    java_home: /usr/lib/jvm/java-11-openjdk-amd64
    deb_packages:
        - path: https://github.com/MediaBrowser/Emby.Releases/releases/download/4.9.1.80/emby-server-deb_4.9.1.80_amd64.deb
        - path: https://github.com/badaix/snapcast/releases/download/v0.34.0/snapserver_0.34.0-1_amd64_trixie.deb
