[core]
data_dir = /var/lib/mopidy
max_tracklist_length = 100000

[local]
library = sqlite
scan_flush_threshold = 100
media_dir = /var/lib/mopidy/media

[local-images]
library = sqlite

[audio]
output = audioresample ! audio/x-raw,rate=48000,channels=2,format=S16LE ! audioconvert ! wavenc ! filesink location=/snapcast/snapfifo

[m3u]
playlists_dir = /var/lib/mopidy/playlists

[http]
hostname = 0.0.0.0

[mpd]
hostname = 0.0.0.0
