[core]
data_dir = /var/lib/mopidy
max_tracklist_length = 100000

[local]
library = sqlite
scan_flush_threshold = 100
media_dir = /var/lib/mopidy/media

[audio]
output = lamemp3enc ! shout2send async=false public=true mount=mopidy ip=10.5.0.12 port=8000 password=hackme

[m3u]
playlists_dir = /var/lib/mopidy/playlists

[scrobbler]
username = {{ SCROBBLER_USERNAME }}
password = {{ SCROBBLER_PASSWORD }}

[http]
hostname = 0.0.0.0

[mpd]
hostname = 0.0.0.0
