[Unit]
Description=Matrix-Whatsapp bridge
PartOf=matrix-synapse.target
After=matrix-synapse.service

[Service]
WorkingDirectory={{ matrix.directory.main }}/mautrix-whatsapp
ExecStart={{ matrix.directory.main }}/mautrix-whatsapp/mautrix-whatsapp -c {{ matrix.directory.mautrix_conf }}/mautrix-whatsapp-config.yaml -r {{ matrix.directory.extraconf }}/mautrix-whatsapp-registration.yaml
User={{ matrix.user }}
Restart=always

[Install]
WantedBy=matrix-synapse.target