[Unit]
Description=Matrix-Facebook bridge
PartOf=matrix-synapse.target
After=matrix-synapse.service

[Service]
WorkingDirectory={{ matrix.directory.main }}
ExecStart={{ matrix.directory.venv }}/bin/python -m mautrix_facebook -c {{ matrix.directory.extraconf }}/mautrix-facebook-config.yaml -r {{ matrix.directory.extraconf }}/mautrix-facebook-registration.yaml
User=matrix-synapse
Restart=always

[Install]
WantedBy=matrix-synapse.target