[global]
   server string = NAS
   server role = standalone server
   interfaces = lo {{ network_devices[0] }}
   bind interfaces only = yes
   disable netbios = yes
   smb ports = 445
   log file = /var/log/samba/smb.log
   max log size = 10000

{% for partition in partitions %}
{% if partition.device is defined %}
[{{ partition.name }}]
  path = {{ partition.path }}
  valid users = {% for username in storage.samba_users.keys() %}{{ username }}{% if not loop.last %} {% endif %}{% endfor %}
  
  read only = no
  guest ok = no
  browsable = yes
{% endif %}
{% endfor %}
