---
base:
  locales:
    - en_IE.UTF-8
  cronjobs: []
  # Leaving these out since they can cause instability and aren't necessary
  # for power savings because modern computers are very low on power draw
  # - name: Sleep for the night
  #   job: "/usr/sbin/rtcwake -u -s 18000 -m mem"
  #   minute: 30
  #   hour: 0
  #   day: "*"
  # - name: Reboot daily
  #   job: "/usr/sbin/reboot"
  #   minute: 30
  #   hour: 5
  #   day: "*"
  services:
    - name: powertop
      has_template: true
    - name: wpa_supplicant
      has_template: true
    - name: dhcpcd
  apt_repositories:
    - name: zulu
      url: https://repos.azul.com/zulu/deb
      apt_key_url: https://repos.azul.com/azul-repo.key
      suites: stable
      components: main
  extra_paths: []
  pip_packages:
    - name: uv
      version: "0.9.27"
  packages:
    - name: git
    - name: golang
    - name: python3-pip
    - name: python3-virtualenv
    - name: virtualenv
    - name: openjdk-11-jdk
    - name: bash-completion
    - name: bzip2
    - name: unzip
    - name: emacs-nox
    - name: apt-transport-https
    - name: ntp
    - name: cron
    - name: tmux
    - name: unattended-upgrades
    - name: build-essential
    - name: curl
    - name: dhcpcd5
    - name: llvm
    - name: libbz2-dev
    - name: libffi-dev
    - name: liblzma-dev
    - name: libncurses5-dev
    - name: libncursesw5-dev
    - name: libreadline-dev
    - name: libsqlite3-dev
    - name: libssl-dev
    - name: mosh
    - name: powertop
    - name: python3-openssl
    - name: resolvconf
    - name: tk-dev
    - name: wget
    - name: wpasupplicant
    - name: xz-utils
    - name: zlib1g-dev
    - name: zulu25-jdk
users: []
system_users:
  - username: matrix-synapse
    home_directory: /var/lib/matrix-synapse
    shell: /bin/bash
  - username: searx
    home_directory: /var/lib/searx
    shell: /bin/bash