[Unit]
Description=AdGuard Home
Documentation=https://adguard.io
After=network.target

[Service]
User={{ dns.user }}
WorkingDirectory=/home/{{ dns.user }}
ExecStart=/home/{{ dns.user }}/AdGuardHome/AdGuardHome -c /home/{{ dns.user }}/adguard.yaml
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target