[Unit]
Description=AdGuard Home
Documentation=https://adguard.io
After=network.target

[Service]
User=dns
WorkingDirectory=~
ExecStart=/home/dns/AdGuardHome/AdGuardHome -c /home/dns/adguard.yaml -l syslog
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target