$ORIGIN {{ domains.internal }}.
$TTL 300
@	SOA	dns1.{{ domains.internal }}.	hostmaster.{{ domains.internal }}. (
		2019092215 ; serial
		21600      ; refresh after 6 hours
		3600       ; retry after 1 hour
		604800     ; expire after 1 week
		86400 )    ; minimum TTL of 1 day
;
;
	NS	dns1.{{ domains.internal }}.
	A	{{ root_ip_address }}
dns1	A	{{ root_ip_address }}
;
;
; Fixed network addresses global to internal domain
;
www	A	{{ root_ip_address }}
{% for subdomain, ip_address in dns.fixed_network_addresses.items() %}
{{ subdomain }}	A	{{ ip_address }}
{% endfor %}

media	CNAME	www.{{ domains.internal }}.
launchpad	CNAME	www.{{ domains.internal }}.
player	CNAME	www.{{ domains.internal }}.
auth	CNAME	www.{{ domains.internal }}.
music	CNAME	www.{{ domains.internal }}.
adblock	CNAME	www.{{ domains.internal }}.
torrents	CNAME	www.{{ domains.internal }}.
wallabag	CNAME	www.{{ domains.internal }}.
matrix	CNAME	www.{{ domains.internal }}.
hangoutsbridge.matrix	CNAME	www.{{ domains.internal }}.
bitwarden	CNAME	www.{{ domains.internal }}.
books	CNAME	www.{{ domains.internal }}.
nextcloud	CNAME	www.{{ domains.internal }}.
rspamd	CNAME	www.{{ domains.internal }}.
mail-users	CNAME	www.{{ domains.internal }}.
minecraft	CNAME	www.{{ domains.internal }}.
;
;
