# Derived from https://github.com/githubixx/ansible-role-wireguard
# Licence: GPL v3
---
- name: Install packages
  ansible.builtin.apt:
    name: "{{ vpn.packages }}"
    update_cache: yes

- name: Enable kernel module
  community.general.modprobe:
    name: wireguard
    state: present

- name: Register if config/private key already exists on target host
  ansible.builtin.stat:
    path: "{{ vpn.config_directory }}/{{ vpn.interface }}.conf"
  register: vpn_register_config_file

- name: Regenerate configuration if required or forced
  when: vpn_regenerate_config or not vpn_register_config_file.stat.exists
  block:
  - name: Generate private key
    ansible.builtin.command: "wg genkey"
    register: vpn_register_private_key

  - name: Set private key fact
    ansible.builtin.set_fact:
      vpn_private_key: "{{ vpn_register_private_key.stdout }}"

  - name: Derive public key
    ansible.builtin.command: "wg pubkey"
    args:
      stdin: "{{ vpn_private_key }}"
    register: vpn_register_public_key

  - name: Set public key fact
    ansible.builtin.set_fact:
      vpn_public_key: "{{ vpn_register_public_key.stdout }}"

  - name: Create configuration directory
    ansible.builtin.file:
      dest: "{{ vpn.config_directory }}"
      state: directory
      mode: 0700

  - name: Generate configuration file
    ansible.builtin.template:
      src: wireguard.conf.j2
      dest: "{{ vpn.config_directory }}/{{ vpn.interface }}.conf"
      owner: "{{ vpn.owner }}"
      group: "{{ vpn.group }}"
      mode: "0600"


- name: Enable IP forwarding
  block:
  - name: Create sysctl file
    ansible.builtin.template:
      dest: /etc/sysctl.d/99-wireguard.conf
      src: sysctl.conf.j2
  - name: Refresh sysctl
    ansible.builtin.command: "sysctl -p /etc/sysctl.d/99-wireguard.conf"

- name: Enable routing for VPN in firewall
  community.general.ufw:
    route: true
    rule: "{{ item.rule }}"
    interface_in: "{{ item.interface_in }}"
    interface_out: "{{ item.interface_out }}"
  with_items:
    - rule: allow
      interface_in: "{{ vpn_network_interface }}"
      interface_out: "{{ vpn_network_interface }}"
    - rule: allow
      interface_in: "{{ vpn_network_interface }}"
      interface_out: "{{ root_network_interface }}"

- name: Start and enable WireGuard service
  ansible.builtin.service:
    name: "wg-quick@{{ vpn.interface }}"
    state: "started"
    enabled: true