storage:
  syncthing:
    api_key: dummy
  samba_users:
    sambauser:
      password: dummy
  directory:
    libraries: /root/lib
  libraries: []
  apt_keys:
    - url: https://download.opensuse.org/repositories/home:/npreining:/debian-ubuntu-onedrive/Debian_13/Release.key
      keyring: /usr/share/keyrings/obs-onedrive.gpg
    - url: https://syncthing.net/release-key.gpg
      keyring: /usr/share/keyrings/syncthing-archive-keyring.gpg
  apt_repositories:
    - url: https://download.opensuse.org/repositories/home:/npreining:/debian-ubuntu-onedrive/Debian_13/
      name: onedrive
      architectures: amd64
      suites: "./"
      apt_key_url: https://download.opensuse.org/repositories/home:/npreining:/debian-ubuntu-onedrive/Debian_12/Release.key
    - url: https://apt.syncthing.net/
      name: syncthing
      suites: syncthing
      components: "stable"
      apt_key_url: https://syncthing.net/release-key.gpg
  apt_packages:
    - name: nfs-common
    - name: nfs-kernel-server
    - name: samba
    - name: postgresql
    - name: python3-psycopg2
    - name: libpq-dev
    - name: ntfs-3g
    - name: libcurl4-openssl-dev
    - name: libsqlite3-dev
    - name: redis-server
    - name: onedrive
    - name: syncthing
  deb_packages:
    - path: https://launchpad.net/veracrypt/trunk/1.26.7/+download/veracrypt-console-1.26.7-Debian-10-amd64.deb
  postgresql:
    version: "17"
    databases:
      - name: synapse
        owner: synapse
      - name: keycloak
        owner: keycloak
      - name: nextcloud
        owner: nextcloud
      - name: wallabag
        owner: wallabag
        collate: en_IE.UTF-8
        ctype: en_IE.UTF-8
      - name: mailserver
        owner: mailserver
      - name: userli
        owner: userli
      - name: stalwart
        owner: stalwart
      - name: photoview
        owner: photoview
      - name: grafana
        owner: grafana
      - name: localfm
        owner: localfm
    users:
      - name: synapse
      - name: keycloak
        password: keycloak
      - name: nextcloud
        password: nextcloud
      - name: wallabag
        password: wallabag
        roles: CREATEDB,NOSUPERUSER
      - name: mailserver
        password: mailserver
      - name: mailadmin
        password: mailadmin
      - name: userli
        password: userli
      - name: stalwart
        password: stalwart
      - name: photoview
        password: photoview
      - name: grafana
        password: grafana
      - name: localfm
        password: localfm
    hba:
      - connection_type: host
        databases: synapse
        users: synapse
        source: ::1/128
        method: trust
      - connection_type: host
        databases: keycloak
        users: keycloak
        source: ::1/128
        method: md5
      - connection_type: host
        databases: nextcloud
        users: nextcloud
        source: ::1/128
        method: md5
      - connection_type: host
        databases: wallabag
        users: wallabag
        source: ::1/128
        method: md5
      - connection_type: host
        databases: grafana
        users: grafana
        source: ::1/128
        method: md5
      - connection_type: host
        databases: localfm
        users: localfm
        source: ::1/128
        method: md5
      - connection_type: host
        databases: userli
        users: userli
        source: ::1/128
        method: md5
      - connection_type: host
        databases: stalwart
        users: stalwart
        source: ::1/128
        method: md5