[Unit]
Description=Factorio Dedicated Server
Documentation=
After=network-online.target

[Service]
User=server-games
Group=server-games
Nice=5
Restart=always
WorkingDirectory={{ games.factorio.directory }}
ExecStart={{ games.factorio.directory }}/bin/x64/factorio --start-server {{ games.factorio.directory }}/saves/{{ games.factorio.save_name }}.zip

[Install]
WantedBy=multi-user.target