[Unit]
Description=Minecraft Official Server
Documentation=

Wants=network.target
After=network.target

[Service]
User=games
Group=games
Nice=5
Restart=always
WorkingDirectory={{ games.minecraft.official.directory }}
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar server.jar --nogui --port {{ games.minecraft.official.port }}

[Install]
WantedBy=multi-user.target