#Minecraft server properties
#Sat Apr 24 21:35:29 UTC 2021
enable-jmx-monitoring=false
rcon.port={{ games.minecraft.spigot.rcon.port }}
level-seed=
gamemode=survival
enable-command-block=false
enable-query=false
generator-settings=
level-name=world
motd=Something interesting here...
query.port={{ games.minecraft.spigot.port }}
pvp=true
generate-structures=true
difficulty=easy
network-compression-threshold=256
max-tick-time=60000
use-native-transport=true
max-players=20
online-mode=true
enable-status=true
allow-flight=false
broadcast-rcon-to-ops=true
view-distance=10
max-build-height=256
server-ip=
allow-nether=true
server-port={{ games.minecraft.spigot.port }}
enable-rcon=true
sync-chunk-writes=true
op-permission-level=4
prevent-proxy-connections=false
resource-pack=
entity-broadcast-range-percentage=100
rcon.password={{ games.minecraft.spigot.rcon.password }}
player-idle-timeout=0
debug=false
force-gamemode=false
rate-limit=0
hardcore=false
white-list=true
broadcast-console-to-ops=true
spawn-npcs=true
spawn-animals=true
snooper-enabled=true
function-permission-level=2
level-type=default
text-filtering-config=
spawn-monsters=true
enforce-whitelist=true
resource-pack-sha1=
spawn-protection=16
max-world-size=29999984