# {{ ansible_managed }}

[Interface]
Address = {{ vpn_ip_address }}/24
PrivateKey = {{ vpn_private_key }}
ListenPort = {{ vpn.listen_port }}
DNS = {{ vpn_ip_address }}, 1.1.1.1

# Client peers that connect to this server peer
{% for peer_key, peer_data in vpn.peers.items() %}
[Peer]
# {{ peer_key }}
PublicKey = {{ peer_data.public_key }}
AllowedIPs = {{ peer_data.ip_address }}/32
{%   endfor %}
