# {{ ansible_managed }}

[Interface]
Address = {{ vpn.ip_address }}/24
PrivateKey = {{ vpn_private_key }}
ListenPort = {{ vpn.listen_port }}
DNS = 1.1.1.1, {{ vpn.ip_address }}

# Peers that connect to this peer (which has all the services we want)
{% for peer_key, peer_data in vpn.peers.items() %}
[Peer]
# {{ peer_key }}
PublicKey = {{ peer_data.public_key }}
AllowedIPs = {{ vpn.ip_address }}/32
Endpoint = vpn.{{ domains.external }}:{{ vpn.listen_port }}
{%     if peer_data.persistent_keepalive is defined %}
PersistentKeepalive = {{ peer_data.persistent_keepalive }}
{%     endif %}
{%   endfor %}
