# my global config
global:
  scrape_interval: 15s
  evaluation_interval: 30s
  body_size_limit: 15MB
  sample_limit: 1500
  target_limit: 30
  label_limit: 30
  label_name_length_limit: 200
  label_value_length_limit: 200
  # scrape_timeout is set to the global default (10s).

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090", "localhost:9191"]

  - job_name: hass
    scrape_interval: 60s
    metrics_path: /api/prometheus
    authorization:
      credentials: "your.longlived.token"
    scheme: http
    static_configs:
      - targets: ['hass.nas.home:8123']

  - job_name: node-exporter
    metrics_path: /metrics
    static_configs:
      - targets:
          - localhost:9100
