LIBRARY_DIRECTORY={{ media.directories.music }}
LASTFM_API_KEY="{{ lastfm.api_key }}"
LASTFM_API_SECRET="{{ lastfm.secret }}"
LASTFM_USERNAME="{{ lastfm.username }}"
LASTFM_PASSWORD="{{ lastfm.password }}"