LIBRARY_DIRECTORY={{ media.directories.music }}
LASTFM_API_KEY="{{ lastfm.api_key }}"
LASTFM_API_SECRET="{{ lastfm.secret }}"
LASTFM_USERNAME="{{ lastfm.username }}"
LASTFM_PASSWORD="{{ lastfm.password }}"
DJANGO_SECRET_KEY="{{ media.localfm.application_secret }}"
DJANGO_ALLOWED_HOSTS="{{ media.localfm.allowed_hosts }}"
LOCALFM_DB_HOST="{{ media.localfm.db.host }}"
LOCALFM_DB_PORT="{{ media.localfm.db.port }}"
LOCALFM_DB_NAME="{{ media.localfm.db.name }}"
LOCALFM_DB_USER="{{ media.localfm.db.user }}"
LOCALFM_DB_PASSWORD="{{ media.localfm.db.password }}"